<!DOCTYPE HTML>
<html>
<head>
    <title>首页</title>
    <script type="text/javascript" src="$!{rc.contextPath}/static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="$!{rc.contextPath}/static/jquery.validate.js"></script>
</head>
<body>
<p>Hello, <span id="name" value="$!{name}">$!{name}</span></p>
<p><span id = "time" value="$!{time}">$!date.format('yyyy-MM-dd HH:mm:ss',$!{time})</span></p>
<p>
    <a href="javascript:void(0);" onclick="window.location.href='/main/getValue/'+'heihei?code='+'$!{name}'">get方法的链接</a>
    <br/>
    <a href="javascript:void(0);" onclick="postMethod('$!{name}')">post方法的链接</a>
    <br/>
</p>
<p><input type="button" onclick="ajaxMethod()" value="ajax测试"/>
    <label id = "message"></label>
</p>
<p>
    <label>数字类型</label>
    <select id="numType">
        <option value="0">奇数</option>
        <option value="1">偶数</option>
    </select>
    <label>数字</label>
    <select id="nums">
    </select>
</p>
<p>
    <button id="showHide">隐藏</button>
    <div id="content">
        <span style="color:red">可见或不可见的内容~~</span>
    </div>
</p>
<form class="cmxform" id="commentForm" method="get" action="">
    <fieldset>
        <legend>Please provide your name, email address (won't be published) and a comment</legend>
        <p>
            <label for="cname">Name (required, at least 2 characters)</label>
            <input id="cname" name="name" minlength="2" type="text" required>
        </p>
        <p>
            <label for="cemail">E-Mail (required)</label>
            <input id="cemail" type="email" name="email" required>
        </p>
        <p>
            <label for="curl">URL (optional)</label>
            <input id="curl" type="url" name="url">
        </p>
        <p>
            <label for="ccomment">Your comment (required)</label>
            <textarea id="ccomment" name="comment" required></textarea>
        </p>
        <p>
            <input class="submit" type="submit" value="Submit">
        </p>
    </fieldset>
</form>

<script language="javascript" type="text/javascript">
    $().ready(function() {
        $("#commentForm").validate();
        $("#numType").change(function() {
            getNums();
        });
        getNums();
        $("#showHide").click(function () {
            $("#content").toggle();
            if ($("#content").is(":hidden")) {
                $("#showHide").text("显示");
            } else {
                $("#showHide").text("隐藏");
            }
        });
    });

    function postMethod(data) {
        var params = {
            message : data
        };
        httpPost("$!{rc.contextPath}/main/postValue", params);
    }

    function httpPost(url, params) {
        var temp = document.createElement("form");
        temp.action = url;
        temp.method = "post";
        temp.style.display = "none";

        for (var x in params) {
            var opt = document.createElement("textarea");
            opt.name = x;
            opt.value = params[x];
            temp.appendChild(opt);
        }
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }

    function ajaxMethod() {
        var params = {
            time : $("#time").text(),
            name : $("#name").text()
        };
        $.ajax({
           type : "POST",
           url : "$!{rc.contextPath}/main/ajaxMethod",
           data : params,
           cache : false,
           dataType : "text",
           success : function (data) {
               if(data == null) {
                   alert("error");
               } else {
                   $("#message").html(data);
                   alert(data);
               }
           }
        });
    }

    function getNums() {
        var params = {
            type : $("#numType").val()
        };
        $.ajax({
            type : "POST",
            url : "$!{rc.contextPath}/main/getNums",
            data : params,
            cache : false,
            dataType : "json",
            success : function (data) {
                $("#nums").html("");
                $("#nums").append($("<option value=\"\">-请选择－</option>"));
                $.each(data, function (i, item) {
                    var arr = item;
                    $("#nums").append($("<option value=\""+item+"\">"+item+"</option>"));
                });
            },
            error : function (XMLHttpRequest, textStatus, errorThrown) {
                // 状态码
                console.log(XMLHttpRequest.status);
                // 状态
                console.log(XMLHttpRequest.readyState);
                // 错误信息
                console.log(textStatus);
                console.log(errorThrown);
                alert("出错了～");
            }
        });
    }

</script>
</body>

</html>